---

// import PlaceholderImage from './PlaceholderImage.astro';

interface Props {
    title: string,
    date: string,
    price: number,
    description: string,
}

let {title, date, price, description} = Astro.props;
---

<div class="border-2 border-black mt-2 p-2">
  <h2 class="text-lg font-bold">{title}</h2>
  <h3 class="font-bold">{date}</h3>
  <p>{price}</p>
  <p>{description}</p>
</div>