---
import type { Image } from "@/payload/payload-types";

interface Props {
    title?: string | undefined;
    logo?: Image | undefined;
    caption?: string | undefined;
}

const { title, logo, caption } = Astro.props;
---

<section
    class="absolute grid left-0 right-0 mx-auto place-items-center gap-4 top-20 bg-white/75 p-4 max-w-[600px]"
>
    <img src={logo?.url} class="w-[250px] mb-2" />
    <h1 class="text-5xl font-bold text-center">{title}</h1>
    <p>{caption}</p>
</section>
