---
import { getAllPages } from "../api";

let pages = await getAllPages();
let adminUrl = `${process.env.PAYLOAD_URL}/admin`;
---

<div class="grid content-center bg-purple-600 text-white text-lg font-bold h-12">
    <div class="text-center space-x-4">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        {pages.docs.map((page) => <a href={`/${page.slug}`}>{page.title}</a>)}
        <a href="/contact">Contact</a>
        <a href={adminUrl} class="absolute right-6">Login</a>
    </div>
</div>
