---
import { getAllPages } from "../api";

let pages = await getAllPages();
let adminUrl = `${process.env.PAYLOAD_URL}/admin`;
---

<div class="bg-gray-300">
    <div class="text-center space-x-4">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        {pages.docs.map((page) => <a href={`/${page.slug}`}>{page.title}</a>)}
        <a href="/contact">Contact</a>
    </div>
    <a href={adminUrl} class="absolute right-0 top-0 mr-3">Login</a>
</div>
