---
import type { Image, Product } from "@/payload/payload-types";
import BaseCard from "../layouts/BaseCard.astro";
import PlaceholderImage from "./PlaceholderImage.astro";

interface Props {
  product: Product;
}

let { product } = Astro.props;
const image = product.image as Image | undefined;
const imageSrc = image?.url;
---

<BaseCard>
  <h4 class="text-lg font-bold">{product.name}</h4>
  <p>${product.price}</p>
  <div class="grid grid-cols-2">
    {
      (imageSrc && <img width="200" height="200" src={imageSrc} />) || (
        <PlaceholderImage width="200px" height="200px" />
      )
    }
    <p>{product.description}</p>
  </div>
</BaseCard>
