---
export interface Props {
	title?: string | undefined;
}

const { title } = Astro.props;

import "@fontsource/material-icons";
import "@fontsource/catamaran";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			type="module"
			src="../../node_modules/@material-tailwind/html/scripts/popover.js"
		></script>
	 
	</head>
	<body class="bg-gradient-to-t from-lime-600/50 to-blue-200/70 pb-12 min-h-screen relative">
		<slot />
	</body>
</html>
