---
import { getPageBySlug } from "../api";
import PageBlock from "../components/PageBlock.astro";
import Layout from "../layouts/Layout.astro";

const { slug } = Astro.params;
const page = await getPageBySlug(slug);
// TODO: Redirect to 404 if not found.
---
{
    (page && (
        <Layout title={page.title}>
            {page.blocks.map((block) => (
                <PageBlock block={block} />
            ))}
        </Layout>
    )) || <p>Page not found!</p>
}