---
import { getContactInfo } from "../api";
import LocationMap from "../components/LocationMap.astro";
import BaseCard from "../layouts/BaseCard.astro";
import Layout from "../layouts/Layout.astro";

let { hours, contactInfo } = await getContactInfo();
---

<Layout title="Contact Us">
  <div class="flex flex-col items-center p-2 gap-4">
    <h1 class="text-3xl font-bold text-center">Contact Us:</h1>
    <div class="flex flex-row px-2 gap-4 justify-around w-full mt-2">
      <BaseCard class="w-[45%]">
        <p class="font-bold text-center">Hours of Operation</p>
        {
          hours?.map(({ day, hours }) => (
            <p>
              {day}: {hours}
            </p>
          ))
        }
      </BaseCard>
      <BaseCard class="w-[45%]">
        <p class="font-bold text-center">Contact Info</p>
        {
          contactInfo?.map(({ type, value }) => (
            <p>
              {type}: {value}
            </p>
          ))
        }
      </BaseCard>
    </div>
    <BaseCard class="p-0">
      <LocationMap width={600} height={400} />
    </BaseCard>
  </div>
</Layout>
