---
import Layout from "../layouts/Layout.astro";
import HeroImage from '../components/HeroImage.astro';
import {lorem} from '../placeholder';
let placeholderText = lorem.generateParagraphs(4);
---

<Layout title="Welcome to Astro.">
	<main class="max-w-screen-md">
		<h1>Pure Intentions</h1>

		<HeroImage class="absolute"/>
		  <section class="absolute w-200 h-100 m-5 bottom-0 right-0 bg-white p-2">Home Page Description</section>
		<p>{placeholderText}</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
