---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import { getProducts } from "../api";

let products = await getProducts();
---

<Layout title="product">
  <h1 class="text-3xl font-bold text-center">Our Products</h1>
  <br />
  <section>
    {products.docs.map(product => <ProductCard product={product} />)}
  </section>
</Layout>